In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('student-por.csv')
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;NaN;18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";NaN;"U";"GT3";"T";1;1;"at_home";"other"...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [2]:
df = pd.read_csv('student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [4]:
pd.options.display.max_columns = None

In [5]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11

In [6]:
df['age'] = df['age'].fillna(-999.0)

In [7]:
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [8]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,-999.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [9]:
categorical_columns = df.columns[df.dtypes==object].tolist()
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
hot = ohe.fit_transform(df[categorical_columns])
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [10]:
print(hot)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 17)	1.0
  (1, 20)	1.0
  :	:
  (647, 27)	1.0
  (647, 29)	1.0
  (647, 31)	1.0
  (647, 33)	1.0
  (647, 35)	1.0
  (647, 38)	1.0
  (647, 40)	1.0
  (647, 41)	1.0
  (648, 1)	1.0
  (648, 3)	1.0
  (648, 4)	1.0
  (648, 7)	1.0
  (648, 9)	1.0
  (648, 13)	1.0
  (648, 17)	1.0
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0

In [11]:
hot

<649x43 sparse matrix of type '<class 'numpy.float64'>'
	with 11033 stored elements in Compressed Sparse Row format>

In [12]:
cold_df = df.select_dtypes(exclude=["object"])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,-999.0,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [13]:
from scipy.sparse import csr_matrix
cold = csr_matrix(cold_df)

from scipy.sparse import hstack
final_sparse_matrix = hstack((hot, cold))

final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-999.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [14]:
from sklearn.base import TransformerMixin 
class NullValueImputer(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        for column in X.columns.tolist():
            if column in X.columns[X.dtypes==object].tolist():
                X[column] = X[column].fillna(X[column].mode())
            else:
                X[column]=X[column].fillna(-999.0)
        return X

In [15]:
df = pd.read_csv('student-por.csv', sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,-999.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [16]:
class SparseMatrix(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        categorical_columns= X.columns[X.dtypes==object].tolist()
        ohe = OneHotEncoder() 
        hot = ohe.fit_transform(X[categorical_columns])
        cold_df = X.select_dtypes(exclude=["object"])
        cold = csr_matrix(cold_df)
        final_sparse_matrix = hstack((hot, cold))
        final_csr_matrix = final_sparse_matrix.tocsr()
        return final_csr_matrix

In [17]:
sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (0, 43)	18.0
  (0, 44)	4.0
  (0, 45)	4.0
  (0, 46)	2.0
  (0, 47)	2.0
  (0, 49)	4.0
  (0, 50)	3.0
  (0, 51)	4.0
  :	:
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [18]:
sm_df = pd.DataFrame(sm.toarray())
sm_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-999.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [19]:
df = pd.read_csv('student-por.csv', sep=';')

In [20]:
y = df.iloc[:, -1]
X = df.iloc[:, :-3]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [22]:
from sklearn.pipeline import Pipeline
data_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix())])
X_train_transformed = data_pipeline.fit_transform(X_train)

In [23]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [24]:
y_train.value_counts()

11    82
10    75
13    58
12    53
14    42
15    36
9     29
16    27
8     26
17    24
18    14
0     10
7      7
19     1
6      1
5      1
Name: G3, dtype: int64

In [25]:
kfold = KFold(n_splits=5, shuffle=True, random_state=2)

In [26]:
def cross_val(model):
    scores = cross_val_score(model, X_train_transformed, y_train, scoring='neg_root_mean_squared_error', cv=kfold)
    rmse = (-scores.mean())
    return rmse

In [27]:
cross_val(XGBRegressor(missing=-999.0))

2.9702248207546296

In [28]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_transformed, y_train, random_state=2)

In [29]:
def n_estimators(model):
    eval_set = [(X_test_2, y_test_2)]
    eval_metric="rmse"
    model.fit(X_train_2, y_train_2, eval_metric=eval_metric, eval_set=eval_set, early_stopping_rounds=100)
    y_pred = model.predict(X_test_2)
    rmse = MSE(y_test_2, y_pred)**0.5
    return rmse

In [30]:
n_estimators(XGBRegressor(n_estimators=5000, missing=-999.0))

[0]	validation_0-rmse:8.49176
Will train until validation_0-rmse hasn't improved in 100 rounds.
[1]	validation_0-rmse:6.31389
[2]	validation_0-rmse:4.97728
[3]	validation_0-rmse:4.16009
[4]	validation_0-rmse:3.66768
[5]	validation_0-rmse:3.42965
[6]	validation_0-rmse:3.28449
[7]	validation_0-rmse:3.18376
[8]	validation_0-rmse:3.15987
[9]	validation_0-rmse:3.16607
[10]	validation_0-rmse:3.16598
[11]	validation_0-rmse:3.13184
[12]	validation_0-rmse:3.13545
[13]	validation_0-rmse:3.13216
[14]	validation_0-rmse:3.13269
[15]	validation_0-rmse:3.13169
[16]	validation_0-rmse:3.10129
[17]	validation_0-rmse:3.10436
[18]	validation_0-rmse:3.10149
[19]	validation_0-rmse:3.10756
[20]	validation_0-rmse:3.10326
[21]	validation_0-rmse:3.09872
[22]	validation_0-rmse:3.09888
[23]	validation_0-rmse:3.09904
[24]	validation_0-rmse:3.10572
[25]	validation_0-rmse:3.10126
[26]	validation_0-rmse:3.09657
[27]	validation_0-rmse:3.09536
[28]	validation_0-rmse:3.09664
[29]	validation_0-rmse:3.09789
[30]	validation_0-rmse:3.09803
[31]	validation_0-rmse:3.09336
[32]	validation_0-rmse:3.10293
[33]	validation_0-rmse:3.10499
[34]	validation_0-rmse:3.10400
[35]	validation_0-rmse:3.10528
[36]	validation_0-rmse:3.10506
[37]	validation_0-rmse:3.10678
[38]	validation_0-rmse:3.10561
[39]	validation_0-rmse:3.10670
[40]	validation_0-rmse:3.10500
[41]	validation_0-rmse:3.10732
[42]	validation_0-rmse:3.10943
[43]	validation_0-rmse:3.10759
[44]	validation_0-rmse:3.10615
[45]	validation_0-rmse:3.10585
[46]	validation_0-rmse:3.10695
[47]	validation_0-rmse:3.10620
[48]	validation_0-rmse:3.10847
[49]	validation_0-rmse:3.10736
[50]	validation_0-rmse:3.10631
[51]	validation_0-rmse:3.10588
[52]	validation_0-rmse:3.10461
[53]	validation_0-rmse:3.10369
[54]	validation_0-rmse:3.10464
[55]	validation_0-rmse:3.10586
[56]	validation_0-rmse:3.10595
[57]	validation_0-rmse:3.10686
[58]	validation_0-rmse:3.10753
[59]	validation_0-rmse:3.10755
[60]	validation_0-rmse:3.10811
[61]	validation_0-rmse:3.10870
[62]	validation_0-rmse:3.10863
[63]	validation_0-rmse:3.10835
[64]	validation_0-rmse:3.10710
[65]	validation_0-rmse:3.10723
[66]	validation_0-rmse:3.10675
[67]	validation_0-rmse:3.10686
[68]	validation_0-rmse:3.10657
[69]	validation_0-rmse:3.10570
[70]	validation_0-rmse:3.10630
[71]	validation_0-rmse:3.10502
[72]	validation_0-rmse:3.10345
[73]	validation_0-rmse:3.10346
[74]	validation_0-rmse:3.10279
[75]	validation_0-rmse:3.10313
[76]	validation_0-rmse:3.10310
[77]	validation_0-rmse:3.10331
[78]	validation_0-rmse:3.10347
[79]	validation_0-rmse:3.10344
[80]	validation_0-rmse:3.10341
[81]	validation_0-rmse:3.10312
[82]	validation_0-rmse:3.10322
[83]	validation_0-rmse:3.10343
[84]	validation_0-rmse:3.10378
[85]	validation_0-rmse:3.10415
[86]	validation_0-rmse:3.10419
[87]	validation_0-rmse:3.10416
[88]	validation_0-rmse:3.10419
[89]	validation_0-rmse:3.10423
[90]	validation_0-rmse:3.10456
[91]	validation_0-rmse:3.10446
[92]	validation_0-rmse:3.10460
[93]	validation_0-rmse:3.10455
[94]	validation_0-rmse:3.10462
[95]	validation_0-rmse:3.10449
[96]	validation_0-rmse:3.10437
[97]	validation_0-rmse:3.10445
[98]	validation_0-rmse:3.10446
[99]	validation_0-rmse:3.10442
[100]	validation_0-rmse:3.10438
[101]	validation_0-rmse:3.10441
[102]	validation_0-rmse:3.10442
[103]	validation_0-rmse:3.10438
[104]	validation_0-rmse:3.10439
[105]	validation_0-rmse:3.10434
[106]	validation_0-rmse:3.10433
[107]	validation_0-rmse:3.10433
[108]	validation_0-rmse:3.10426
[109]	validation_0-rmse:3.10425
[110]	validation_0-rmse:3.10432
[111]	validation_0-rmse:3.10432
[112]	validation_0-rmse:3.10441
[113]	validation_0-rmse:3.10442
[114]	validation_0-rmse:3.10439
[115]	validation_0-rmse:3.10437
[116]	validation_0-rmse:3.10438
[117]	validation_0-rmse:3.10440
[118]	validation_0-rmse:3.10446
[119]	validation_0-rmse:3.10448
[120]	validation_0-rmse:3.10447
[121]	validation_0-rmse:3.10450
[122]	validation_0-rmse:3.10450
[123]	validation_0-rmse:3.10450
[124]	validation_0-rmse:3.10450
[125]	validation_0-rmse:3.10450
[126]	validation_0-rmse:3.10450
[127]	validation_0-rmse:3.10450
[128]	validation_0-rmse:3.10450
[129]	validation_0-rmse:3.10450
[130]	validation_0-rmse:3.10450
[131]	validation_0-rmse:3.10450
Stopping. Best iteration:
[31]	validation_0-rmse:3.09336

3.0933612343143153

In [31]:
def grid_search(params, reg=XGBRegressor(missing=-999.0)):
    grid_reg = GridSearchCV(reg, params, scoring='neg_mean_squared_error', cv=kfold)
    grid_reg.fit(X_train_transformed, y_train)
    best_params = grid_reg.best_params_
    print("Best params:", best_params)
    best_score = np.sqrt(-grid_reg.best_score_)
    print("Best score:", best_score)

In [32]:
grid_search(params={'max_depth':[1, 2, 3, 4, 6, 7, 8], 
                    'n_estimators':[31]})

Best params: {'max_depth': 1, 'n_estimators': 31}
Best score: 2.6634430373079425

In [33]:
grid_search(params={'max_depth':[1, 2], 
                    'min_child_weight':[1,2,3,4,5], 
                    'n_estimators':[31]})

Best params: {'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 31}
Best score: 2.6634430373079425

In [34]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[2,3],
                    'subsample':[0.5, 0.6, 0.7, 0.8, 0.9],
                   'n_estimators':[31, 50]})

Best params: {'max_depth': 1, 'min_child_weight': 2, 'n_estimators': 50, 'subsample': 0.9}
Best score: 2.665209161229433

In [35]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[1, 2, 3], 
                    'subsample':[0.8, 0.9, 1], 
                    'colsample_bytree':[0.5, 0.6, 0.7, 0.8, 0.9, 1],
                   'n_estimators':[50]})

Best params: {'colsample_bytree': 0.9, 'max_depth': 1, 'min_child_weight': 3, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.659649642579931

In [36]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[3], 
                    'subsample':[.8], 
                    'colsample_bytree':[0.9],
                    'colsample_bylevel':[0.6, 0.7, 0.8, 0.9, 1],
                    'colsample_bynode':[0.6, 0.7, 0.8, 0.9, 1],
                    'n_estimators':[50]})

Best params: {'colsample_bylevel': 0.9, 'colsample_bynode': 0.8, 'colsample_bytree': 0.9, 'max_depth': 1, 'min_child_weight': 3, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.64172735526102

In [37]:
cross_val(XGBRegressor(max_depth=1,
                       min_child_weight=3,
                       subsample=0.8, 
                       colsample_bytree=0.9, 
                       colsample_bylevel=0.9,
                       colsample_bynode=0.8, 
                       missing=-999.0,
                       booster='dart',
                      one_drop=True))

2.6839374445928312

In [38]:
X_test_transformed = data_pipeline.fit_transform(X_test)

In [39]:
type(y_train)

pandas.core.series.Series

In [40]:
model = XGBRegressor(max_depth=1,
                       min_child_weight=3,
                       subsample=0.8, 
                       colsample_bytree=0.9, 
                       colsample_bylevel=0.9,
                       colsample_bynode=0.8,
                     n_estimators=50,
                       missing=-999.0)
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.7908972630881435

In [41]:
model = XGBRegressor(max_depth=1,
                       min_child_weight=5,
                       subsample=0.6, 
                       colsample_bytree=0.9, 
                       colsample_bylevel=0.9,
                       colsample_bynode=0.8,
                     n_estimators=50,
                       missing=-999.0)
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.730601403138633

In [42]:
full_pipeline = Pipeline([('null_imputer', NullValueImputer()), 
                          ('sparse', SparseMatrix()), 
                          ('xgb', XGBRegressor(max_depth=1,
                                               min_child_weight=5,
                                               subsample=0.6, 
                                               colsample_bytree=0.9, 
                                               colsample_bylevel=0.9,
                                               colsample_bynode=0.8, 
                                               missing=-999.0))])

In [43]:
full_pipeline.fit(X, y)

Pipeline(steps=[('null_imputer',
                 <__main__.NullValueImputer object at 0x7f8452433810>),
                ('sparse', <__main__.SparseMatrix object at 0x7f8452433890>),
                ('xgb',
                 XGBRegressor(base_score=0.5, booster='gbtree',
                              colsample_bylevel=0.9, colsample_bynode=0.8,
                              colsample_bytree=0.9, gamma=0, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='',
                              learning_rate=0.300000012, max_delta_step=0,
                              max_depth=1, min_child_weight=5, missing=-999.0,
                              monotone_constraints='()', n_estimators=100,
                              n_jobs=0, num_parallel_tree=1, random_state=0,
                              reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                              subsample=0.6, tree_method='exact',
                              validate_parameters=1, verbosity=None))])

In [44]:
new_data = X_test
full_pipeline.predict(new_data)

array([13.55908  ,  8.314051 , 11.078157 , 14.114085 , 12.2938385,
       11.374797 , 13.9611025, 12.025812 , 10.80344  , 13.479145 ,
       13.02319  ,  9.428679 , 12.57761  , 12.405045 , 14.284043 ,
        8.549758 , 10.158956 ,  9.972576 , 15.502667 , 10.280028 ,
       12.570633 , 12.9743595,  7.1461325, 12.252944 ,  7.4495254,
        8.300447 ,  9.744034 , 13.364958 , 14.004536 , 12.069448 ,
       11.118075 , 11.602432 , 15.418601 ,  8.52417  , 11.460779 ,
       13.239244 , 12.051651 , 10.5878315,  8.255108 , 12.521748 ,
       11.301567 , 11.080861 , 11.747242 , 14.201977 , 13.905471 ,
       14.839518 , 12.451093 , 12.567157 , 12.748954 , 11.738104 ,
       15.333496 ,  6.220242 ,  6.0114803, 12.119366 , 14.482844 ,
        9.25223  , 13.44006  ,  8.946791 , 13.338587 , 12.240412 ,
       13.619149 ,  6.666611 ,  9.507896 , 12.428457 , 14.523389 ,
       10.564542 , 13.176392 , 13.55415  , 11.627525 , 10.449411 ,
       12.734433 , 13.373908 , 12.638637 ,  7.084274 , 13.125043 ,
       12.639938 , 13.494874 , 14.7530575, 12.356505 , 10.191998 ,
       12.751003 ,  7.1981454, 10.286616 , 12.303075 , 13.326458 ,
       10.744475 ,  9.134845 , 12.196684 , 15.139046 , 15.219528 ,
       11.220383 ,  9.594781 , 13.79788  , 11.871307 , 12.280914 ,
       13.615541 , 12.766841 ,  8.723168 , 12.915096 , 15.260149 ,
       13.801009 ,  9.238579 , 11.858317 , 12.280879 , 12.838195 ,
       14.524745 , 12.527553 ,  9.940114 ,  9.185535 , 13.553275 ,
        6.8820796, 11.251666 , 13.237136 , 10.653768 , 14.027738 ,
       11.934967 , 11.630526 , 11.015194 , 12.808713 , 12.068913 ,
       13.411814 ,  8.741246 , 13.109023 , 10.372543 , 14.062884 ,
       12.45832  , 14.873386 , 14.8806715, 11.488914 , 13.655617 ,
       10.420453 , 14.157115 ,  8.760076 ,  9.244508 , 12.266376 ,
       13.446991 ,  9.057034 , 11.175279 , 13.999463 , 12.988129 ,
       10.532508 , 12.997969 , 12.671889 , 12.887827 , 12.651214 ,
       11.072168 , 12.80245  , 13.65925  , 14.768773 , 12.877461 ,
        8.808774 , 10.384757 , 12.6099825,  7.771721 ,  8.485588 ,
       12.02901  , 14.514062 , 13.586237 , 12.833324 , 10.053797 ,
       11.597653 , 12.865195 ,  9.395801 ], dtype=float32)

In [45]:
np.round(full_pipeline.predict(new_data))

array([14.,  8., 11., 14., 12., 11., 14., 12., 11., 13., 13.,  9., 13.,
       12., 14.,  9., 10., 10., 16., 10., 13., 13.,  7., 12.,  7.,  8.,
       10., 13., 14., 12., 11., 12., 15.,  9., 11., 13., 12., 11.,  8.,
       13., 11., 11., 12., 14., 14., 15., 12., 13., 13., 12., 15.,  6.,
        6., 12., 14.,  9., 13.,  9., 13., 12., 14.,  7., 10., 12., 15.,
       11., 13., 14., 12., 10., 13., 13., 13.,  7., 13., 13., 13., 15.,
       12., 10., 13.,  7., 10., 12., 13., 11.,  9., 12., 15., 15., 11.,
       10., 14., 12., 12., 14., 13.,  9., 13., 15., 14.,  9., 12., 12.,
       13., 15., 13., 10.,  9., 14.,  7., 11., 13., 11., 14., 12., 12.,
       11., 13., 12., 13.,  9., 13., 10., 14., 12., 15., 15., 11., 14.,
       10., 14.,  9.,  9., 12., 13.,  9., 11., 14., 13., 11., 13., 13.,
       13., 13., 11., 13., 14., 15., 13.,  9., 10., 13.,  8.,  8., 12.,
       15., 14., 13., 10., 12., 13.,  9.], dtype=float32)

In [46]:
new_df = pd.read_csv('student-por.csv')
new_X = df.iloc[:, :-3]
new_y = df.iloc[:, -1]
new_model = full_pipeline.fit(new_X, new_y)

In [47]:
more_new_data = X_test[:25]
np.round(new_model.predict(more_new_data))

array([14.,  8., 11., 14., 12., 11., 14., 12., 11., 13., 13.,  9., 13.,
       12., 14.,  9., 10., 10., 16., 10., 13., 13.,  7., 12.,  7.],
      dtype=float32)

In [48]:
single_row = X_test[:1]
single_row_plus = pd.concat([single_row, X_test[:25]])
print(np.round(new_model.predict(single_row_plus))[:1])

[14.]