In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('student-por.csv')
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;NaN;18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";NaN;"U";"GT3";"T";1;1;"at_home";"other"...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [2]:
df = pd.read_csv('student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [5]:
df.fillna(-99.0, inplace=True)

In [6]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [6]:
df['age'] = df['age'].fillna(df['age'].median())

In [7]:
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [8]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [7]:
categorical_columns = df.columns[df.dtypes==object].tolist()
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
hot = ohe.fit_transform(df[categorical_columns])
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [ ]:
print(hot)

In [11]:
hot

<649x43 sparse matrix of type '<class 'numpy.float64'>'
	with 11033 stored elements in Compressed Sparse Row format>

In [12]:
cold_df = df.select_dtypes(exclude=["object"])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,17.0,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [13]:
from scipy.sparse import csr_matrix
cold = csr_matrix(cold_df)

from scipy.sparse import hstack
final_sparse_matrix = hstack((hot, cold))

final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [14]:
from sklearn.base import TransformerMixin 
class NullValueImputer(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        for column in X.columns.tolist():
            if column in X.columns[X.dtypes==object].tolist():
                X[column] = X[column].fillna(X[column].mode())
            else:
                X[column]=X[column].fillna(X[column].median())
        return X

In [15]:
df = pd.read_csv('student-por.csv', sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [16]:
class SparseMatrix(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        categorical_columns= X.columns[X.dtypes==object].tolist()
        ohe = OneHotEncoder() 
        hot = ohe.fit_transform(X[categorical_columns])
        cold_df = X.select_dtypes(exclude=["object"])
        cold = csr_matrix(cold_df)
        final_sparse_matrix = hstack((hot, cold))
        final_csr_matrix = final_sparse_matrix.tocsr()
        return final_csr_matrix

In [17]:
sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (0, 43)	18.0
  (0, 44)	4.0
  (0, 45)	4.0
  (0, 46)	2.0
  (0, 47)	2.0
  (0, 49)	4.0
  (0, 50)	3.0
  (0, 51)	4.0
  :	:
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [18]:
sm_df = pd.DataFrame(sm.toarray())
sm_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [19]:
df = pd.read_csv('student-por.csv', sep=';')

In [20]:
y = df.iloc[:, -1]
X = df.iloc[:, :-3]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [22]:
from sklearn.pipeline import Pipeline
data_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix())])
X_train_transformed = data_pipeline.fit_transform(X_train)

In [23]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [24]:
y_train.value_counts()

11    82
10    75
13    58
12    53
14    42
15    36
9     29
16    27
8     26
17    24
18    14
0     10
7      7
19     1
6      1
5      1
Name: G3, dtype: int64

In [25]:
kfold = KFold(n_splits=5, shuffle=True, random_state=2)

In [26]:
def cross_val(model):
    scores = cross_val_score(model, X_train_transformed, y_train, scoring='neg_root_mean_squared_error', cv=kfold)
    rmse = (-scores.mean())
    return rmse

In [27]:
cross_val(XGBRegressor(objective='reg:squarederror', missing='unknown'))

nan

In [28]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_transformed, y_train, random_state=2)

In [29]:
def n_estimators(model):
    eval_set = [(X_test_2, y_test_2)]
    eval_metric="rmse"
    model.fit(X_train_2, y_train_2, eval_metric=eval_metric, eval_set=eval_set, early_stopping_rounds=100)
    y_pred = model.predict(X_test_2)
    rmse = MSE(y_test_2, y_pred)**0.5
    return rmse

In [30]:
n_estimators(XGBRegressor(n_estimators=5000))

[0]	validation_0-rmse:8.49176
Will train until validation_0-rmse hasn't improved in 100 rounds.
[1]	validation_0-rmse:6.31389
[2]	validation_0-rmse:4.97728
[3]	validation_0-rmse:4.16009
[4]	validation_0-rmse:3.66768
[5]	validation_0-rmse:3.42965
[6]	validation_0-rmse:3.28449
[7]	validation_0-rmse:3.18376
[8]	validation_0-rmse:3.15987
[9]	validation_0-rmse:3.16607
[10]	validation_0-rmse:3.16598
[11]	validation_0-rmse:3.13184
[12]	validation_0-rmse:3.13545
[13]	validation_0-rmse:3.13216
[14]	validation_0-rmse:3.13269
[15]	validation_0-rmse:3.13169
[16]	validation_0-rmse:3.10129
[17]	validation_0-rmse:3.10436
[18]	validation_0-rmse:3.10149
[19]	validation_0-rmse:3.10756
[20]	validation_0-rmse:3.10326
[21]	validation_0-rmse:3.09872
[22]	validation_0-rmse:3.09888
[23]	validation_0-rmse:3.09904
[24]	validation_0-rmse:3.10572
[25]	validation_0-rmse:3.10126
[26]	validation_0-rmse:3.09657
[27]	validation_0-rmse:3.09536
[28]	validation_0-rmse:3.09664
[29]	validation_0-rmse:3.09789
[30]	validation_0-rmse:3.09803
[31]	validation_0-rmse:3.09336
[32]	validation_0-rmse:3.10293
[33]	validation_0-rmse:3.10499
[34]	validation_0-rmse:3.10400
[35]	validation_0-rmse:3.10528
[36]	validation_0-rmse:3.10506
[37]	validation_0-rmse:3.10678
[38]	validation_0-rmse:3.10561
[39]	validation_0-rmse:3.10670
[40]	validation_0-rmse:3.10500
[41]	validation_0-rmse:3.10732
[42]	validation_0-rmse:3.10943
[43]	validation_0-rmse:3.10759
[44]	validation_0-rmse:3.10615
[45]	validation_0-rmse:3.10585
[46]	validation_0-rmse:3.10695
[47]	validation_0-rmse:3.10620
[48]	validation_0-rmse:3.10847
[49]	validation_0-rmse:3.10736
[50]	validation_0-rmse:3.10631
[51]	validation_0-rmse:3.10588
[52]	validation_0-rmse:3.10461
[53]	validation_0-rmse:3.10369
[54]	validation_0-rmse:3.10464
[55]	validation_0-rmse:3.10586
[56]	validation_0-rmse:3.10595
[57]	validation_0-rmse:3.10686
[58]	validation_0-rmse:3.10753
[59]	validation_0-rmse:3.10755
[60]	validation_0-rmse:3.10811
[61]	validation_0-rmse:3.10870
[62]	validation_0-rmse:3.10863
[63]	validation_0-rmse:3.10835
[64]	validation_0-rmse:3.10710
[65]	validation_0-rmse:3.10723
[66]	validation_0-rmse:3.10675
[67]	validation_0-rmse:3.10686
[68]	validation_0-rmse:3.10657
[69]	validation_0-rmse:3.10570
[70]	validation_0-rmse:3.10630
[71]	validation_0-rmse:3.10502
[72]	validation_0-rmse:3.10345
[73]	validation_0-rmse:3.10346
[74]	validation_0-rmse:3.10279
[75]	validation_0-rmse:3.10313
[76]	validation_0-rmse:3.10310
[77]	validation_0-rmse:3.10331
[78]	validation_0-rmse:3.10347
[79]	validation_0-rmse:3.10344
[80]	validation_0-rmse:3.10341
[81]	validation_0-rmse:3.10312
[82]	validation_0-rmse:3.10322
[83]	validation_0-rmse:3.10343
[84]	validation_0-rmse:3.10378
[85]	validation_0-rmse:3.10415
[86]	validation_0-rmse:3.10419
[87]	validation_0-rmse:3.10416
[88]	validation_0-rmse:3.10419
[89]	validation_0-rmse:3.10423
[90]	validation_0-rmse:3.10456
[91]	validation_0-rmse:3.10446
[92]	validation_0-rmse:3.10460
[93]	validation_0-rmse:3.10455
[94]	validation_0-rmse:3.10462
[95]	validation_0-rmse:3.10449
[96]	validation_0-rmse:3.10437
[97]	validation_0-rmse:3.10445
[98]	validation_0-rmse:3.10446
[99]	validation_0-rmse:3.10442
[100]	validation_0-rmse:3.10438
[101]	validation_0-rmse:3.10441
[102]	validation_0-rmse:3.10442
[103]	validation_0-rmse:3.10438
[104]	validation_0-rmse:3.10439
[105]	validation_0-rmse:3.10434
[106]	validation_0-rmse:3.10433
[107]	validation_0-rmse:3.10433
[108]	validation_0-rmse:3.10426
[109]	validation_0-rmse:3.10425
[110]	validation_0-rmse:3.10432
[111]	validation_0-rmse:3.10432
[112]	validation_0-rmse:3.10441
[113]	validation_0-rmse:3.10442
[114]	validation_0-rmse:3.10439
[115]	validation_0-rmse:3.10437
[116]	validation_0-rmse:3.10438
[117]	validation_0-rmse:3.10440
[118]	validation_0-rmse:3.10446
[119]	validation_0-rmse:3.10448
[120]	validation_0-rmse:3.10447
[121]	validation_0-rmse:3.10450
[122]	validation_0-rmse:3.10450
[123]	validation_0-rmse:3.10450
[124]	validation_0-rmse:3.10450
[125]	validation_0-rmse:3.10450
[126]	validation_0-rmse:3.10450
[127]	validation_0-rmse:3.10450
[128]	validation_0-rmse:3.10450
[129]	validation_0-rmse:3.10450
[130]	validation_0-rmse:3.10450
[131]	validation_0-rmse:3.10450
Stopping. Best iteration:
[31]	validation_0-rmse:3.09336

3.0933612343143153

In [31]:
def grid_search(params, reg=XGBRegressor(objective='reg:squarederror')):
    grid_reg = GridSearchCV(reg, params, scoring='neg_mean_squared_error', cv=kfold)
    grid_reg.fit(X_train_transformed, y_train)
    best_params = grid_reg.best_params_
    print("Best params:", best_params)
    best_score = np.sqrt(-grid_reg.best_score_)
    print("Best score:", best_score)

In [32]:
grid_search(params={'max_depth':[1, 2, 3, 4, 6, 7, 8], 
                    'n_estimators':[31]})

Best params: {'max_depth': 1, 'n_estimators': 31}
Best score: 2.6634430373079425

In [33]:
grid_search(params={'max_depth':[1, 2], 
                    'min_child_weight':[1,2,3,4,5], 
                    'n_estimators':[31]})

Best params: {'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 31}
Best score: 2.6634430373079425

In [34]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[2,3],
                    'subsample':[0.5, 0.6, 0.7, 0.8, 0.9],
                   'n_estimators':[31, 50]})

Best params: {'max_depth': 1, 'min_child_weight': 2, 'n_estimators': 50, 'subsample': 0.9}
Best score: 2.665209161229433

In [35]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[1, 2, 3], 
                    'subsample':[0.8, 0.9, 1], 
                    'colsample_bytree':[0.5, 0.6, 0.7, 0.8, 0.9, 1],
                   'n_estimators':[50]})

Best params: {'colsample_bytree': 0.9, 'max_depth': 1, 'min_child_weight': 3, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.659649642579931

In [36]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[3], 
                    'subsample':[.8], 
                    'colsample_bytree':[0.9],
                    'colsample_bylevel':[0.6, 0.7, 0.8, 0.9, 1],
                    'colsample_bynode':[0.6, 0.7, 0.8, 0.9, 1],
                    'n_estimators':[50]})

Best params: {'colsample_bylevel': 0.9, 'colsample_bynode': 0.8, 'colsample_bytree': 0.9, 'max_depth': 1, 'min_child_weight': 3, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.64172735526102

In [37]:
cross_val(XGBRegressor(max_depth=1,
                       min_child_weight=3,
                       subsample=0.8, 
                       colsample_bytree=0.9, 
                       colsample_bylevel=0.9,
                       colsample_bynode=0.8, 
                       objective='reg:squarederror',
                       booster='dart',
                      one_drop=True))

2.6839374445928312

In [38]:
X_test_transformed = data_pipeline.fit_transform(X_test)

In [39]:
type(y_train)

pandas.core.series.Series

In [40]:
model = XGBRegressor(max_depth=1,
                       min_child_weight=3,
                       subsample=0.8, 
                       colsample_bytree=0.9, 
                       colsample_bylevel=0.9,
                       colsample_bynode=0.8,
                     n_estimators=50,
                       objective='reg:squarederror')
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.792669145121898

In [41]:
model = XGBRegressor(max_depth=1,
                       min_child_weight=5,
                       subsample=0.6, 
                       colsample_bytree=0.9, 
                       colsample_bylevel=0.9,
                       colsample_bynode=0.8,
                     n_estimators=50,
                       objective='reg:squarederror')
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.7341902013284325

In [42]:
full_pipeline = Pipeline([('null_imputer', NullValueImputer()), 
                          ('sparse', SparseMatrix()), 
                          ('xgb', XGBRegressor(max_depth=1,
                                               min_child_weight=5,
                                               subsample=0.6, 
                                               colsample_bytree=0.9, 
                                               colsample_bylevel=0.9,
                                               colsample_bynode=0.8, 
                                               objective='reg:squarederror'))])

In [43]:
full_pipeline.fit(X, y)

Pipeline(steps=[('null_imputer',
                 <__main__.NullValueImputer object at 0x7ff9b3b16910>),
                ('sparse', <__main__.SparseMatrix object at 0x7ff9b3b16990>),
                ('xgb',
                 XGBRegressor(base_score=0.5, booster='gbtree',
                              colsample_bylevel=0.9, colsample_bynode=0.8,
                              colsample_bytree=0.9, gamma=0, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='',
                              learning_rate=0.300000012, max_delta_step=0,
                              max_depth=1, min_child_weight=5, missing=nan,
                              monotone_constraints='()', n_estimators=100,
                              n_jobs=0, num_parallel_tree=1, random_state=0,
                              reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                              subsample=0.6, tree_method='exact',
                              validate_parameters=1, verbosity=None))])

In [44]:
new_data = X_test
full_pipeline.predict(new_data)

array([13.546432 ,  8.259092 , 11.052456 , 14.0932865, 12.273927 ,
       11.4776745, 13.936509 , 11.966832 , 10.776648 , 13.460466 ,
       13.488674 ,  9.395899 , 12.575023 , 12.382051 , 14.3860235,
        8.488628 , 10.140336 , 10.078603 , 15.480481 , 10.260132 ,
       12.674783 , 12.942371 ,  7.1200957, 12.237664 ,  7.381736 ,
        8.271409 ,  9.677427 , 13.35034  , 13.974342 , 12.172156 ,
       11.101696 , 11.572977 , 15.395195 ,  8.507281 , 11.445974 ,
       13.180867 , 12.047722 , 10.5687475,  8.195982 , 12.451295 ,
       11.239532 , 11.018781 , 11.722896 , 14.145916 , 13.882778 ,
       14.811511 , 12.429342 , 12.550478 , 12.7227335, 11.716939 ,
       15.3047495,  6.1904945,  5.943282 , 12.05858  , 14.461438 ,
        9.194753 , 13.41525  ,  9.044706 , 13.312834 , 12.171654 ,
       13.607047 ,  6.6386642,  9.450855 , 12.375124 , 14.505412 ,
       10.557816 , 13.164841 , 13.535501 , 11.730692 , 10.391528 ,
       12.661984 , 13.322529 , 12.735039 ,  7.0590334, 13.1056185,
       12.624951 , 13.474015 , 14.737075 , 12.341363 , 10.168555 ,
       12.739822 ,  7.149259 , 10.384776 , 12.288052 , 13.301426 ,
       10.68259  ,  9.07598  , 12.179288 , 15.121519 , 15.198876 ,
       11.201311 ,  9.697239 , 13.774628 , 11.847123 , 12.256798 ,
       13.597334 , 12.706562 ,  8.694064 , 12.896311 , 15.241734 ,
       13.773532 ,  9.181482 , 11.838236 , 12.263742 , 12.816611 ,
       14.502821 , 12.631291 , 10.042382 ,  9.159925 , 13.649121 ,
        6.8131943, 11.349097 , 13.333822 , 10.744812 , 14.015223 ,
       11.908584 , 11.726679 , 10.997502 , 12.786561 , 12.046353 ,
       13.388358 ,  8.841679 , 13.083634 , 10.356163 , 14.046588 ,
       12.553    , 14.848672 , 14.859191 , 11.587632 , 13.751636 ,
       10.363249 , 14.138751 ,  8.729302 ,  9.346862 , 12.367916 ,
       13.422572 ,  8.994668 , 11.159119 , 13.968317 , 12.927285 ,
       10.50418  , 12.9782095, 12.768099 , 12.859036 , 12.617633 ,
       11.050714 , 12.905603 , 13.640263 , 14.745594 , 12.851217 ,
        8.755241 , 10.49846  , 12.703379 ,  7.746438 ,  8.415911 ,
       12.008384 , 14.617073 , 13.52145  , 12.930286 , 10.0270815,
       11.544627 , 12.843101 ,  9.503628 ], dtype=float32)

In [45]:
np.round(full_pipeline.predict(new_data))

array([14.,  8., 11., 14., 12., 11., 14., 12., 11., 13., 13.,  9., 13.,
       12., 14.,  8., 10., 10., 15., 10., 13., 13.,  7., 12.,  7.,  8.,
       10., 13., 14., 12., 11., 12., 15.,  9., 11., 13., 12., 11.,  8.,
       12., 11., 11., 12., 14., 14., 15., 12., 13., 13., 12., 15.,  6.,
        6., 12., 14.,  9., 13.,  9., 13., 12., 14.,  7.,  9., 12., 15.,
       11., 13., 14., 12., 10., 13., 13., 13.,  7., 13., 13., 13., 15.,
       12., 10., 13.,  7., 10., 12., 13., 11.,  9., 12., 15., 15., 11.,
       10., 14., 12., 12., 14., 13.,  9., 13., 15., 14.,  9., 12., 12.,
       13., 15., 13., 10.,  9., 14.,  7., 11., 13., 11., 14., 12., 12.,
       11., 13., 12., 13.,  9., 13., 10., 14., 13., 15., 15., 12., 14.,
       10., 14.,  9.,  9., 12., 13.,  9., 11., 14., 13., 11., 13., 13.,
       13., 13., 11., 13., 14., 15., 13.,  9., 10., 13.,  8.,  8., 12.,
       15., 14., 13., 10., 12., 13., 10.], dtype=float32)

In [46]:
new_df = pd.read_csv('student-por.csv')
new_X = df.iloc[:, :-3]
new_y = df.iloc[:, -1]
new_model = full_pipeline.fit(new_X, new_y)

In [47]:
more_new_data = X_test[:25]
np.round(new_model.predict(more_new_data))

array([14.,  8., 11., 14., 12., 11., 14., 12., 11., 13., 13.,  9., 13.,
       12., 14.,  8., 10., 10., 15., 10., 13., 13.,  7., 12.,  7.],
      dtype=float32)

In [48]:
single_row = X_test[:1]
single_row_plus = pd.concat([single_row, X_test[:25]])
print(np.round(new_model.predict(single_row_plus))[:1])

[14.]